<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <rewrite>
      <rules>
                <clear />
                <rule name="Prerender for Search" enabled="false" stopProcessing="true">
                    <match url="^(?!.*?(\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent|\.ttf|\.woff))(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_USER_AGENT}" pattern="baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator" />
                        <add input="{QUERY_STRING}" pattern="_escaped_fragment_" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/https://grad.ucla.edu/funding/#showAll/(R:2}" />
                </rule>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^graddev\.grad\.ucla\.edu$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://graddev.grad.ucla.edu/{R:1}" />
                </rule>
                <rule name="No Careerhub" stopProcessing="true">
                    <match url="^.*/careerhub/.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Route the requests to SOLR" stopProcessing="true">
                    <match url="^se/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="0" />
                    </serverVariables>
                    <action type="Rewrite" url="{c:1}://proddev.grad.ucla.edu:8984/solr/{R:1}" />
                </rule>
                <rule name="NoAPPs - folder" stopProcessing="true">
                    <match url="^apps/.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="NoAPI - folder" enabled="true" stopProcessing="true">
                    <match url="^apis/.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Shib ignore for WP" enabled="true" stopProcessing="true">
                    <match url="Shibboleth\.sso/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="None" logRewrittenUrl="true" />
                </rule>
                <rule name="Events Redirect" stopProcessing="true">
                    <match url="^rsvp/?$|^rsvp/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="deans/event/{R:1}" />
                </rule>
                <rule name="RemoveGdsite" stopProcessing="true">
                    <match url="^gdsite$|^gdsite/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="RewriteToFile">
                    <match url="^(?!gdsite/)(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="gdsite/{R:1}" />
                </rule>
                <rule name="Route the requests for Grapes" stopProcessing="true">
                    <match url="^funding(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="0" />
                    </serverVariables>
                    <action type="Rewrite" url="{C:1}://Proddev.grad.ucla.edu/apps/grapes/{R:1}" />
                </rule>
                <rule name="internalFolder" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*internal/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{REQUEST_URI}" pattern="^/(apis)" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="wordpress" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
      </rules>
      <outboundRules>
        <clear />
        <rule name="ReverseProxyOutboundGrapes" preCondition="ResponseIsHtml1" enabled="true">
          <match filterByTags="A, Area, Base, Form, Head, IFrame, Img, Input, Link, Script" pattern="^http(s)?://Proddev.grad.ucla.edu/funding/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="/funding/{R:2}" />
        </rule>
        <rule name="RewriteRelativePathsGrapes" preCondition="ResponseIsHtml1" enabled="true">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Input, Link, Script" pattern="^funding/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="/funding/{R:1}" />
        </rule>
        <rule name="ReverseProxyOutboundRuleSolr" preCondition="ResponseIsHtml1" enabled="true">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^http(s)?://proddev.grad.ucla.edu:8984/solr/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="/se/{R:2}" />
        </rule>
        <rule name="RewriteRelativePathsSOLR" preCondition="ResponseIsHtml1" enabled="true">
          <match filterByTags="A, Area, Base, Form, Head, IFrame, Img, Input, Link, Script" pattern="^se/(.*)" />
          <action type="Rewrite" value="/se/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.cshtml" />
        <add value="index.php" />
        <add value="default.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <caching enabled="false">
      <profiles>
        <add extension=".js" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="08:00:30" />
        <add extension=".php" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="08:00:30" />
      </profiles>
    </caching>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <handlers>
      <remove name="AboMapperCustom-21671" />
      <add name="SSI-html" path="*.html" verb="*" type="ServerSideIncludeModule" resourceType="File" preCondition="integratedMode" />
      <add name="SSI-htm" path="*.htm" verb="*" type="ServerSideIncludeModule" resourceType="File" preCondition="integratedMode" />
      <add name="AboMapperCustom-21671" path="*.sso" verb="*" modules="IsapiModule" scriptProcessor="C:\opt\shibboleth-sp\lib\shibboleth\isapi_shib.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" responseBufferLimit="0" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="administrator@grad.ucla.edu">
        <network host="smtp.ucla.edu" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <identity impersonate="false" />
    <compilation targetFramework="4.0" debug="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="gdsite" />
    <location path="apps/appDoctoralStudentTravelGrant">
    </location>
</configuration>