<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <rewrite>
      <rules>
                <clear />
                <rule name="Shib ignore for WP" stopProcessing="true">
                    <match url="Shibboleth\.sso/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="None" logRewrittenUrl="true" />
                </rule>
                <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="internalFolder" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*internal/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="wordpress" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule></rules>
    </rewrite>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Index.cshtml" />
                <add value="index.php" />
                <add value="default.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <handlers accessPolicy="Read, Script">
            <remove name="AboMapperCustom-766349765" />
            <add name="AboMapperCustom-766349765" path="*.sso" verb="*" modules="IsapiModule" scriptProcessor="C:\opt\shibboleth-sp\lib\shibboleth\isapi_shib.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" responseBufferLimit="0" />
        </handlers>
		<validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="administrator@grad.ucla.edu">
                <network host="smtp.ucla.edu" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
        <identity impersonate="true" />
    </system.web>
    <location path="gdsite">
    </location>
</configuration>
